body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #9B7D3A;
}

.chat-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #9B7D3A;
    color: #9B7D3A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.chat-area {
    padding: 20px;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.chat-header h2 {
    margin: 0;
}

.close-btn {
    background: none;
    border: none;
    font-size: 24px;
    color: #888;
    cursor: pointer;
}

.chat-display {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.user-input {
    display: flex;
    align-items: center;
}

.user-input input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#upload-label {
    padding: 10px 20px;
    background-color: #f7cb6d;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

#upload-label:hover {
    background-color: #9B7D3A;
}

#image-input {
    display: none; /* Ocultar el input de tipo file */
}

.user-input button {
    padding: 10px 20px;
    background-color: #e7b956;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-input button:hover {
    background-color: #ce8e03;
}
